.container {
    background-color: #5c5c5c;
    width: 600px;
    height: 600px;
    display: grid;
}

.grid-container {
    display: grid;
    gap: 25px 50px;
    grid-template-columns: 150px 150px 150px; 
    grid-template-rows: 150px 150px 150px; 
}

.block-items {
    background-color: #003bfb;
    border-radius: 8px;
}

   